<footer class="page-footer bg-color">
    <div class="container row center-align">
		<a href="https://beian.miit.gov.cn/" target="_blank">黔ICP备17006109号-1</a>
    </div>
</footer>

<div class="progress-bar"></div>
